body {
    text-align: center;
    background-color: white;
}

.blue {
    background-color: rgb(58, 58, 184);
    color: aliceblue;
}

.green {
    background-color: rgb(80, 152, 80);
    color: rgb(209, 241, 209);
}

.purple {
    background-color: rgb(74, 15, 74);
    color: rgb(231, 182, 231);
}

.yellow {
    background-color: rgb(209, 209, 66);
    color: rgb(238, 238, 204);
}
