body {
    text-align: center;
    background-color: white;
}

.violet {
    background-color: rgb(109, 31, 109);
    color: violet;
}

.mustard {
    background-color: #75751c;
    color: #e6e6c4;
}
